# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
release
dist-ssr
*.local
*.production

# Editor directories and files
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Önce tüm store klasörünü ignore et
/store/*
store/nodebar.json
store/studio.json
!store/nodebar/bigbuckbunny.mp4
!store/nodebar/test-audio.mp3
!store/nodebar/test-bg-image.jpg
!store/nodebar/test-image.png
!store/scene/default-scene.png